* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.unselectable {
  -webkit-user-select: none;
  -khtml-user-drag: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
}

#wrapper {
  margin: 10px;
}

.timeContainer {
  border-top: 1px solid #eee;
  padding-top: 15px;
  line-height: 50px;
  margin-top: 10px;
}
.timeContainer div {
  display: inline;
}
.timeContainer .label {
  margin-right: 15px;
}

.timeContainer .label, .timeContainer .unit {
  color: #888;
}
.timeContainer .pace {
  color: #333;
}
.timeContainer .label, .outputContainer {
  font-size: 25px;
  position: relative;
  bottom: 2px;
}

.timeContainer.total {
  border-width: 2px;
}
.timeContainer.total .label {
  font-size: 21px;
}
.timeContainer.total .time {
  padding: 2px 8px;
  background: #f6f5dd;
  background-radius: 4px;
}

.timeContainer.disabled, .outputContainer.disabled {
  visibility: hidden;
}
.outputContainer .pace {
  margin-left: 15px;
}
.outputContainer .unit {
}

.timeContainer .label, .time, .outputContainer {
  white-space: nowrap;
}
.outputContainer {
}
.time .disabled {
  color: #ccc;
}

.digitContainer {
  color: #333;
  text-align: center;
  padding: 12px 5px;
  position: relative;
}
.digitContainer .button {
  position: absolute;
  width: 100%;
  height: 30px;
  left: 0;
}
.digitContainer .button.plus {
  top: 0;
}
.digitContainer .button.minus {
  bottom: 0;
}
.button canvas {
  position: absolute;
  left: 0;
  opacity: 0.20;
}
.button.plus canvas {
  top: -1px;
}
.button.minus canvas {
  bottom: 0;
}
.button:hover {
  cursor: pointer;
}
.button:hover canvas {
  opacity: 0.80;
}
